.modal-content {
    background-color: rgb(110, 110, 245);
}
.callForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.callForm legend {
    text-align: center;
    color: white;
    text-transform: uppercase;

}

.callForm input, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 12px;
    border: none;
    background-color: red;
}

.callForm input::placeholder, textarea::placeholder {
    color: white;
}

.callForm input:disabled {
    background-color: grey;
    color: black !important;
}

.callForm label {
    cursor: pointer;
}

.callForm textarea {
    min-width: 100%;
}