<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="header__title">
                    HEADER
                </div>
                <nav class="header__menu">
                    <ul>
                        <li><a href="">Test1</a></li>
                        <li><a href="">test2</a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>