<table class="tg">
  <thead>
    <tr>
      <th class="tg-0lax">Номер</th>
      <th class="tg-0lax">Ім'я</th>
      <th class="tg-0lax">Фамілія</th>
      <th class="tg-0lax">Група</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-0lax" rowspan="2">1</td>
      <td class="tg-0lax">Jonh</td>
      <td class="tg-0lax">Bender</td>
      <td class="tg-0lax">5</td>
    </tr>
    <tr>
      <td class="tg-0lax">2</td>
      <td class="tg-0lax">Jonh</td>
      <td class="tg-0lax " colspan="2" rowspan="2">Віталя Кахній</td>
    </tr>
    <tr>
      <td class="tg-0lax">Чувак</td>
      <td class="tg-0lax">Відсутній</td>
      <td class="tg-0lax">Відсутній</td>
    </tr>
    <tr>
      <td class="tg-0lax">3</td>
      <td class="tg-0lax">Jonh</td>
      <td class="tg-0lax">Bender</td>
      <td class="tg-0lax">3</td>
    </tr>
  </tbody>
  </table>